### Python Data Structures and Boolean

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables
Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [9]:
 bool()

False

In [10]:
True

True

In [11]:
False

False

In [14]:
print(True,False)

True False

In [15]:
type(True)

bool

In [24]:
my_str="Gokul123Das"

In [26]:
print(my_str.isalnum()) # check if all char are numbers
print(my_str.isalpha()) # check if all char in the string are alphabetic
print(my_str.isdigit()) # test  if string contains digits
print(my_str.isupper()) # test if string contains upper case
print(my_str.islower()) # test if string contains lower case
print(my_str.isspace()) # test if string contains spaces
print(my_str.startswith('H')) # test if string startswith H
print(my_str.endswith('d')) # test if string endswith d
print(my_str.istitle())#test if string contains title words

True
False
False
False
False
False
False
False
True

 #### Boolean And Logical Operators

In [27]:
True and True

True

In [28]:
True and False

False

In [29]:
True or False

True

In [30]:
str_example="hello world"
my_str='Krish'

In [31]:
my_str.isalpha() or str_example.isnum()

True

### Lists
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [32]:
type([])

list

In [33]:
list1=[]
type(list1)

list

In [34]:
lst=list()

In [35]:
type(lst)

list

In [37]:
len(list1)

5

In [58]:
list1=['mathematics','Chemistry',100,300,400]

#### Aoppend

In [ ]:
# append is used to add elements in the list

In [59]:
list1.append("Gokul")

In [60]:
list1.append(['hai','Hello'])

In [61]:
list1

['mathematics', 'Chemistry', 100, 300, 400, 'Gokul', ['hai', 'Hello']]

In [42]:
#### Indexing in list
list1[4]

400

In [43]:
list1[2]

100

In [44]:
list1[0]

'mathematics'

In [46]:
list1[:]

['mathematics', 'Chemistry', 100, 300, 400, 'Gokul']

In [47]:
list1[1:]

['Chemistry', 100, 300, 400, 'Gokul']

In [49]:
list1[1:5]

['Chemistry', 100, 300, 400]

#### Insert

In [62]:
# insert in a specific order
list1.insert(2,'Devi')

In [63]:
list1

['mathematics', 'Chemistry', 'Devi', 100, 300, 400, 'Gokul', ['hai', 'Hello']]

#### Extend Method

In [66]:
list1.extend([6,7])

In [67]:
list1

['mathematics',
 'Chemistry',
 'Devi',
 100,
 300,
 400,
 'Gokul',
 ['hai', 'Hello'],
 6,
 7]

#### Various Operations that we can perform in List

In [86]:
list2=[1,2,3,4,5,6,7]
sum(list2)

28

In [85]:
list2*2

[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

#### Pop() Method

In [69]:
list2.pop()

7

In [71]:
list2

[1, 2, 3, 4, 5, 6]

In [73]:
list2.pop(0)

2

In [74]:
list2

[3, 4, 5, 6]

#### count():Calculates total occurrence of given element of List

In [75]:
list3=[1,1,1,1,2,2,2,3,4,5,6,7]
list3.count(1)

4

In [76]:
## length: calculates total length of listc
len(list3)

12

In [77]:
# index():  Returns the index of first occurence .Start and end index arenot necessary parameters
list3.index(1)

0

In [78]:
list3.index(1,1,4)

1

In [83]:
# min and max
max(list3)

7

In [82]:
min(list3)

1

In [2]:
# clear() Removes all the elements from the list
fruits = ['apple', 'banana', 'cherry', 'orange']
fruits.clear()
fruits

[]

In [3]:
# copy() Returns a copy of the list
fruits = ['apple', 'banana', 'cherry', 'orange']
x=fruits.copy()

In [4]:
x

['apple', 'banana', 'cherry', 'orange']

In [7]:
# count() - Returns the number of elements with the specified value
fruits = ['apple', 'banana', 'cherry','cherry']
x=fruits.count('cherry')

In [8]:
x

2

In [13]:
# extend()	Add the elements of a list (or any iterable), to the end of the current list
bikes=['RX100','Splender','Pulsar']
cars=['Hyundai','KIA','Polo']
bikes.extend(cars)

In [14]:
bikes

['RX100', 'Splender', 'Pulsar', 'Hyundai', 'KIA', 'Polo']

In [18]:
# index()	Returns the index of the first element with the specified value
fruits = ['cherry','apple', 'banana', 'cherry']
x=fruits.index('cherry')

In [19]:
x

0

In [20]:
# insert()	Adds an element at the specified position
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1,"Pineapple")

In [21]:
fruits

['apple', 'Pineapple', 'banana', 'cherry']

In [22]:
# pop()	Removes the element at the specified position
fruits = ['apple', 'banana', 'cherry']
fruits.pop()

'cherry'

In [23]:
fruits

['apple', 'banana']

In [24]:
fruits.pop(0)

'apple'

In [25]:
fruits

['banana']

In [27]:
# remove()	Removes the first item with the specified value
fruits = ['apple', 'banana', 'cherry']
fruits.remove("banana")

In [28]:
fruits

['apple', 'cherry']

In [29]:
# reverse()	Reverses the order of the list
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()

In [30]:
fruits

['cherry', 'banana', 'apple']

In [31]:
# sort()	Sorts the list
fruits = ['apple', 'banana', 'cherry']
fruits.sort()

In [32]:
fruits

['apple', 'banana', 'cherry']

In [33]:
fruits = ['apple', 'banana', 'cherry']
fruits.sort(reverse=True)
print(fruits)

['cherry', 'banana', 'apple']

In [34]:
# To determine how many items a list has, use the len() function:
fruits = ['apple', 'banana', 'cherry']
len(fruits)

3

In [35]:
# What is the data type of a list?
fruits = ['apple', 'banana', 'cherry']
print(type(fruits))

<class 'list'>

In [36]:
# Using the list() constructor to make a List:
fruits = list(('apple', 'banana', 'cherry'))
fruits

['apple', 'banana', 'cherry']

In [42]:
# List items are indexed and you can access them by referring to the index number:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2])
print(fruits[-1])
print(fruits[2:4])
print(fruits[:4])
print(fruits[4:])
print(fruits[-4:-1])

cherry
mango
['cherry', 'orange']
['apple', 'banana', 'cherry', 'orange']
['kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']

In [43]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
if "apple" in fruits:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [45]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruits[0]='Papaya'
fruits

['Papaya', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [46]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruits[1:3]=["blackcurrant", "watermelon"]
fruits

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [47]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruits[1:3]=["watermelon"]
fruits

['apple', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [48]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruits[1:2]=["blackcurrant", "watermelon"]
fruits

['apple',
 'blackcurrant',
 'watermelon',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango']

In [49]:
fruits = ["apple", "banana", "cherry"]
items = ("kiwi", "orange")

fruits.extend(items)

print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [50]:
fruits = ["apple", "banana", "cherry"]
del fruits[0]
fruits

['banana', 'cherry']

In [51]:
fruits = ["apple", "banana", "cherry"]
del fruits
fruits

NameError: name 'fruits' is not defined

In [54]:
# Make a copy of a list with the copy() method:
fruits = ["apple", "banana", "cherry"]
newlist= fruits.copy()
newlist

['apple', 'banana', 'cherry']

In [55]:
# Another way to make a copy is to use the built-in method list().
fruits = ["apple", "banana", "cherry"]
newlist=list(fruits)
newlist

['apple', 'banana', 'cherry']

### Join Two Lists

In [56]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [57]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [58]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]