### SETS
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [1]:
# define an empty set
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [4]:
set_var={12,3,3,4,54}
set_var

{3, 4, 12, 54}

In [5]:
set_var={"avengers","superman",'ironman'}
set_var

{'avengers', 'ironman', 'superman'}

In [6]:
# indexing is not applicable in set
set_var[0]

TypeError: 'set' object is not subscriptable

In [7]:
# inbuilt function in sets
set_var.add("Hulk")

In [8]:
set_var

{'Hulk', 'avengers', 'ironman', 'superman'}

In [19]:
set1={'Avengers','Ironman','Hitman'}
set2={'Avengers','Ironman','Hitman','Hulk'}

In [20]:
set2.intersection_update(set1)

In [21]:
set2

{'Avengers', 'Hitman', 'Ironman'}

In [15]:
set2.difference(set1)

{'Hulk'}

In [16]:
set2

{'Avengers', 'Hitman', 'Hulk', 'Ironman'}

In [17]:
set2.difference_update(set1)

In [18]:
set2

{'Hulk'}

#### Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [22]:
dic={}

In [23]:
type(dic)

dict

In [25]:
dic={1,2,3,4,5}
type(dic)

set

In [31]:
# let create a dictionary
my_dict={"Car1":"Audi","Car2":"BMW","Car3":"Skoda"}

In [27]:
type(my_dict)

dict

In [32]:
# access the item values based on Keys
my_dict['Car1']

'Audi'

In [34]:
# we can even loop through the dictionaries values
for i in my_dict.values():
    print(i)

Audi
BMW
Skoda

In [36]:
# we can even loop through the dictionaries keys
for i in my_dict:
    print(i)

Car1
Car2
Car3

In [37]:
# we can also  check both keys and values
for i in my_dict.items():
    print(i)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Skoda')

In [38]:
# adding items in dictionaries
my_dict['Car4']="maruti"

In [39]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Skoda', 'Car4': 'maruti'}

In [41]:
my_dict['Car1']="Thar"

In [42]:
my_dict

{'Car1': 'Thar', 'Car2': 'BMW', 'Car3': 'Skoda', 'Car4': 'maruti'}

### Nested Dictionary

In [40]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [43]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [44]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [45]:
print(car_type['car1']['Mercedes'])

1960

### Tuple

In [46]:
# create an empty tuple
my_tuple=tuple()

In [47]:
type(my_tuple)

tuple

In [48]:
mytuple=()

In [49]:
type(mytuple)

tuple

In [50]:
my_tuple=("gokul","Aani","Nein")

In [51]:
my_tuple[0]='jain'

TypeError: 'tuple' object does not support item assignment

In [52]:
my_tuple=('Hello',"Haii")

In [53]:
my_tuple

('Hello', 'Haii')

In [54]:
print(type(my_tuple))

<class 'tuple'>

In [55]:
print(my_tuple)

('Hello', 'Haii')

In [56]:
# inbuilt function
my_tuple.count('Hello')

1

In [57]:
my_tuple.index('haii')

ValueError: tuple.index(x): x not in tuple